*.sqlite
*.exe
*.mdb
*.userprefs
EntryPoint/obj/Debug
EntryPoint/bin/Debug
MapReduceDotNetLib/obj/Debug
MapReduceDotNetLib/bin/Debug
Master/obj/Debug
Master/bin/Debug
Worker/obj/Debug
Worker/bin/Debug
ClientLib/obj/Debug
ClientLib/bin/Debug
BigFileGenerator/obj/Debug
BigFileGenerator/bin/Debug
